.persona-nav {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.persona-nav::-webkit-scrollbar {
  display: none;
}

.persona-nav {
  scrollbar-width: none;
}

.persona-nav ul {
  display: inline-flex;
}

.personas-intro {
  text-align: left;
  margin-top: 60px;
  margin-left: 60px;
}

.personas-links {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 0 25px;
  width: 58%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 60px;
}

.personas-links li {
  list-style-type: none;
}

.personas-links a {
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease; 
  color: #5d5d5d;
  text-decoration: none;
  font-size: 1rem;
}

.personas-links a:hover {
  color: #646cff; 
}

.personas-links a.active {
  font-weight: bold;
  color: #fff;
}

.intro {
  display: flex;
  justify-content: flex-start;
  width: 58%;
  margin: 0 auto;
  font-size: 3.3rem;
  line-height: 1;
  color: #fff;
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.intro p {
  margin: 0;
  padding-top: 10px;
}

@media (max-width: 768px) {
  .personas-links {
    gap: -4px;
  }

  .intro {
    font-size: 3rem;
    width: 0%;
    margin-left: 0px;
  }

  .personas-links a {
    font-size: 1rem;
    padding: 6px 15px;
  }
}

  