.references {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    color: #fff;
    margin-left: 300px;
    padding: 150px 100px;
  }
  
  .reference-card {
    font-size: 1rem;
    line-height: 1.2;
    max-width: 330px;
    max-height: 180px;
  }
  
  .quote {
    margin-bottom: 8px;
    color: #5d5d5d;
    font-weight: 500;
  }
  
  .author {
    font-weight: 700;
    margin-top: 5px;
    color: #fff;
  }
  
  .role {
    font-weight: 400;
    color: #aaa;
  }
  
  @media (max-width: 768px) {
    .references {
      grid-template-columns: 1fr;
      /* padding: 50px; */
    }
  }
  