/* General Body Styling */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--overlay-color);
  opacity: 0.5;
  pointer-events: none;
  z-index: 9999;
}

[data-theme="light"] .overlay {
  --overlay-color: rgba(255, 255, 255, 0.3); 
}

[data-theme="dark"] .overlay {
  --overlay-color: rgba(0, 0, 0, 0.5);
}

[data-theme="theme-1"] .overlay {
  --overlay-color: #12191a; 
}

[data-theme="theme-2"] .overlay {
  --overlay-color: #1e282a;
}

[data-theme="theme-3"] .overlay {
  --overlay-color: #253831; 
}

[data-theme="theme-4"] .overlay {
  --overlay-color: #3c4236;
}

[data-theme="theme-5"] .overlay {
  --overlay-color: #514e3a;
}

[data-theme="theme-6"] .overlay {
  --overlay-color: #795035;
}

[data-theme="theme-7"] .overlay {
  --overlay-color: #baab68;
}

[data-theme="theme-8"] .overlay {
  --overlay-color: #e8e0bd;
}

[data-theme="theme-9"] .overlay {
  --overlay-color: #f3dab8;
}

[data-theme="theme-10"] .overlay {
  --overlay-color: #f2c3a4;
}

[data-theme="theme-11"] .overlay {
  --overlay-color: #ffb1b1;
}

[data-theme="theme-12"] .overlay {
  --overlay-color: #f9a6d3;
}

[data-theme="theme-13"] .overlay {
  --overlay-color: #d1bcee;
}

[data-theme="theme-14"] .overlay {
  --overlay-color: #b7d4f5;
}

[data-theme="theme-15"] .overlay {
  --overlay-color: #c5ebf1;
}

.theme-switch {
  /* position: absolute;
  bottom: 70px;
  right: 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-end; */
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.theme-btns button {
  background: transparent;
  border: none;
  cursor: pointer;
  /* margin-bottom: 5px; */
  padding: 5px;
}

.theme-btns button svg {
  width: 24px;
  height: 24px;
  color: #5d5d5d;
}

.theme-icon {
  width: 24px;
  height: 24px;
}

.theme-slider {
  position: fixed;
  bottom: 90%;
  width: 10px;
  height: 10px;
  z-index: 1000;
}

.theme-slider-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  gap: 5px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.theme-slider-wrapper.active {
  visibility: visible;
  opacity: 1;
}

.slider-track {
  /* position: relative;
  width: 12px;
  height: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; */
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.slider-marker {
  font-size: 20px;
  color: #ccc;
  cursor: pointer;
}

.slider-marker.active {
  color: #ff9800;
}

.slider-icon {
  color: #ff9800;
  font-size: 24px;
}
