.work {
  display: grid;
  grid-template-columns: repeat(2, 44%);
  grid-template-rows: repeat(2, 18%);
  margin-left: 310px;
  padding-top: 400px;
}

.project-links {
  list-style-type: none;
}

.separator {
  margin: 0 0.5rem;
  color: #5d5d5d;
  font-weight: bold;
}

.project-links li {
  display: inline-block;
}

.project-links a {
  color: #5d5d5d;
  text-decoration: none;
  font-size: 1rem;
}

.project-links a:hover {
  color: #fff;
}

.project-links a.active {
  color: #fff;
  font-weight: bold;
}

.project-card {
  max-width: 325px;
  font-size: 1rem;
  max-height: 200px;
}

.project-header {
  color: #666;
}

.project-header p {
  color: #fff;
  font-weight: 700;
}

.project-header span {
  font-weight: 500;
  color: #aaa;
}

.project-description {
  color: #5d5d5d;
  font-weight: 450;
  line-height: 1.2;
}
