/* .projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0px 100px;
  margin-left: 180px;
} */

.work {
  display: grid;
  grid-template-columns: repeat(2, 44%);
  grid-template-rows: repeat(2, 18%);
  margin-left: 310px;
  padding-top: 400px;
}

.project-card {
  max-width: 325px;
  font-size: 1rem;
  max-height: 200px;
}

.project-header {
  color: #666;
}

.project-header p {
  color: #fff;
  font-weight: 700;
}

.project-header span {
  font-weight: 500;
  color: #aaa;
}

.project-description {
  color: #5d5d5d;
  font-weight: 450;
  line-height: 1.2;
}
