/* Fonts */
/* Light (300) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-Light.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* Light Italic (300 Italic) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-LightItalic.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

/* Regular (400) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-Regular.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Regular Italic (400 Italic) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-RegularItalic.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

/* Medium (500) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-Medium.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* Medium Italic (500 Italic) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-MediumItalic.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

/* SemiBold (600) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-SemiBold.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* SemiBold Italic (600 Italic) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-SemiBoldItalic.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

/* Bold (700) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-Bold.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Bold Italic (700 Italic) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-BoldItalic.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

/* Heavy (800) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-Heavy.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-Heavy.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Heavy Italic (800 Italic) */
@font-face {
  font-family: 'Saans';
  src: url('/src/assets/fonts/Saans-TRIAL-HeavyItalic.woff2') format('woff2'),
       url('/src/assets/fonts/Saans-TRIAL-HeavyItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  box-sizing: border-box;
  z-index: 100;
  background-color: var(--background-color);
  transition: all 0.3s ease;
}

.main-content {
  margin-left: 150px;
}

.name {
  position: relative;
  left: -40px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.first-letter {
  display: inline-block;
  transition: opacity 0.3s ease-in-out;
}

.full-name {
  opacity: 0;
  transform: translateX(-5px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: absolute;
  left: 100%;
  top: 0;
  font-size: 1.2rem;
  color: #fff;
  white-space: nowrap; 
}

.name:hover .full-name {
  opacity: 1;
  transform: translateX(0); 
}

.name:hover .first-letter {
  opacity: 1;
}

/* Navigation links */
.nav-links {
  list-style-type: none;
  padding: 0;
  margin-top: 70px;
}

.nav-links a {
  color: #5d5d5d;
  text-decoration: none;
  font-size: 1rem;
}

.nav-links a:hover {
  color: #fff;
}

.nav-links li .active-link {
  color: var(--highlight-color);
  font-weight: bold;
}

/* Add smooth scrolling */
html {
  scroll-behavior: smooth;
}

:root {
  font-family: 'Saans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Button Styling */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

section {
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
}

section h2 {
  margin-bottom: 5px;
}

/* Mobile Nav */
.hamburger-menu {
  display: none;
  flex-direction: column;
  gap: 4px;
}

.hamburger-menu .line {
  width: 25px;
  height: 3px;
  background-color: #5d5d5d;
  border-radius: 2px;
}

.mobile-navbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: var(--background-color);
  z-index: 200;
  padding: 20px;
}

.mobile-navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-navbar li {
  margin: 20px 0;
}

.mobile-navbar a {
  color: #5d5d5d;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.mobile-navbar a:hover {
  color: #fff; 
}

/* Ensure sections adjust on mobile */
@media (max-width: 768px) {
  section {
    padding: 10px;
  }
}

/* Light Mode */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Media query for when the viewport width is 1020px or less */
@media (max-width: 1020px) {
  /* Hide the left navigation */
  .navbar {
    display: none;
  }

  /* Show the hamburger menu */
  .hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 10;
  }

  .hamburger-menu .line {
    width: 100%;
    height: 3px;
    background-color: rgb(217, 144, 193);
    border-radius: 2px;
  }

  /* Adjust main content */
  .main-content {
    margin-left: 0;
    padding: 20px; 
  }

  /* Align personas links and intro to the left */
  .personas-intro {
    margin-left: 20px;
    margin-top: 40px;
  }

  .personas-links {
    justify-content: flex-start;
    width: 90%;
    margin-left: 20px;
  }

  .intro {
    margin-left: 20px;
    font-size: 3.5rem;
  }
}


